<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ailatrieuphu">

    <uses-permission android:name="android.permission.INTERNET">
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Utilities.Dialog.CustomDialogCredit">
        </activity>
        <activity
            android:name=".Controller.ManageActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Controller.ChooseActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Controller.RightActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Controller.WrongActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Controller.SupportActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Controller.callActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Controller.EndActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Controller.RankActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Controller.HistoryActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Controller.BuyActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Controller.ShowActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Controller.QuestionActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Controller.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Controller.SignUpActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Controller.ForgotActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Controller.MainActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>